<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Awesome Equation Simplifier</title>
  </head>

  <body>

    <%= erb :nav %>

    <div class="container">
      <div class="main-content">
        <h1 id="pg-title">
          <i class="fa fa-calculator" aria-hidden="true"></i>
          Awesome Equation Simplifier
          <i class="fa fa-copyright" aria-hidden="true"></i>
        </h1>

        <%= yield %>

        <%= erb :instruction %>
      </div>
    </div>

    <%= erb :contact %>

    <%= erb :about %>

    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
